<div class="container">
    <h1>What is MakerMap?</h1>
    <div class="row">
        <div class="col-md-6" style="margin-bottom: 30px;">
            <img class="img-responsive" src="assets/images/510690364.jpg" />
            <h3 class="orange">It's about Connecting.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique neque ac risus sodales finibus. Phasellus ullamcorper nisl sapien, nec rutrum mauris suscipit at. Aenean cursus tincidunt nisl eu auctor. Fusce tempor efficitur nisi, vitae posuere augue ornare sit amet. Aenean tincidunt facilisis viverra. Aliquam lobortis posuere nibh id elementum. Curabitur rutrum ornare placerat.</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="assets/images/659072697.jpg" />
            <h3 class="orange">It's about Learning &amp; Teaching.</h3>
            <p>Etiam libero felis, posuere ac viverra luctus, tincidunt sed tellus. Donec feugiat orci a sem ultricies, non lobortis tortor facilisis. Nam ac sodales felis, sed eleifend ante. Aliquam condimentum hendrerit ornare. Phasellus faucibus nisl nulla, id faucibus elit suscipit placerat. Donec aliquam auctor lacinia. Aenean ultrices eros non posuere faucibus.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="margin-bottom: 90px;">
            <img class="img-responsive" src="assets/images/671847405.jpg" />
            <h3 class="orange">It's about Making.</h3>
            <p>Duis lacinia convallis augue, sed vulputate orci porta quis. Ut vitae nulla in massa tempus blandit quis varius nunc. Quisque nec bibendum sem. Etiam auctor pharetra congue. Cras sodales, nunc sed volutpat blandit, lorem arcu blandit dolor, ac condimentum neque metus vel velit. Nam a enim ut sapien mattis convallis non vel neque. Etiam vitae sapien ultrices quam lacinia lobortis. </p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="assets/images/683733489.jpg" />
            <h3 class="orange">What do you want to make today?</h3>
            <p>Sign up now. Connect. Learn. Teach. Make.</p>
            {{#link-to 'sign-up' tagName="p"}}<a href="" class="btn btn-primary">Let's start making!</a>{{/link-to}}

        </div>
    </div>
</div>