<h1>What do you want to make today?</h1>
<p>You love to make things. You're not alone. Meet other fiber and textile artists who share your passion for handmade style. Follow your own path from passion to artistry with a central listing of the best events, resources and maker spaces that New York City has to offer. We live in a vibrant community of fiber and textile artists, lets keep it growing together! Connect. Learn. Teach. Make.</p>
<p>{{#link-to 'about' tagName="span"}}<a href="">Learn more about MakerMap</a>{{/link-to}} or Sign Up Now:</p>
{{#link-to 'sign-up' tagName="p"}}<a href="" class="btn btn-primary">Let's start making!</a>{{/link-to}}
Already have an account? {{#link-to 'sign-in' tagName="span"}}<a href="">Sign in.</a>{{/link-to}}
