<div class="container">
    <h1>Maker Profile</h1>
    <div class="row">
        <div class="col-md-12">
            <h2 class="orange">Textile Arts Center &mdash; Manhattan</h2>
            <p>Maker Space</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="assets/images/Studio5.jpg" />
            <p><button class="btn btn-primary">Events</button>&nbsp;<button class="btn btn-primary">Save as Favorite</button></p>
        </div>
        <div class="col-md-6">
            <h4>Contact</h4>
            <p>26 West 8 St, New York NY, 10011
            <br>(646) 225-6554
            <br><a href="http://www.textileartscenter.com">textileartscenter.com</a></p>
            <h4>Description</h4>
            <p>Textile Arts Center (TAC) is a NYC-based resource facility dedicated to raising awareness and understanding of textiles through creative educational programs for children and adults. At TAC, we aspire to unify the textile community and advocate for the handmade by providing accessible, skills-based classes that reinvigorate engagement with traditional crafts. Techniques like weaving, sewing, and dyeing are practical, connective, and process-driven -- common denominators for designers, artists, and creative practitioners around the world. Because these activities are so widely used, they help to foster community and bring creativity back into our daily lives. They are part of our collective history and vital to our ongoing expressions of design, art, and culture.</p>
        </div>
    </div>
</div>