<div class="container">
  <h1>Sign In</h1>
  <form>
    <p>{{input id='identification' placeholder='Enter Username' value=identification class="form-control"}}</p>
    <p>{{input id='password' placeholder='Enter Password' type='password' value=password class="form-control"}}</p>
    <p><button class="btn btn-primary">Let's go!</button></p>
  </form>
</div>